:root {
  --vertDeliveroo: #00ccbc;
  --black: rgba(0, 0, 0, 0.7);
}

body {
  font-family: "IBM Plex Sans", "sans-serif";
}

h1,
h2,
h3 {
  color: var(--colorTitle);
}

h1 {
  font-size: 2rem;
  line-height: 26.7px;
}

h2 {
  font-size: 24px;
  line-height: 20px;
}

h3 {
  font-size: 18px;
  line-height: 15.6px;
}

p {
  font-size: 19px;
  line-height: 28.8px;
}

.card p {
  font-size: 14px;
  line-height: 20.8px;
  color: #808484;
}

/* HEADER */
.header {
  padding: 9px 0 9px 0;
  width: 100%;
  border-bottom: 1px solid #e9ebeb;
}

.imgHeader {
  height: 41px;
}

header .wrapper {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

header .wrapper .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .wrapper .bottom .left {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 50px;
  text-align: justify;
}

.imgBanner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

/* Title et Para */

.titleOne {
  color: var(--colorTitle);
  font-size: 2rem;
  line-height: 26.7px;
  font-weight: bold;
}

.titleCateg {
  color: var(--colorTitle);
  font-size: 24px;
  line-height: 20px;
  padding: 20px 0 20px 0;
}

.titleOne,
.titleCateg {
  font-family: "IBM Plex Sans Bold", "sans-serif";
}

.titleCard {
  color: var(--colorTitle);
  font-size: 18px;
  line-height: 15.6px;
}

.pDesc {
  color: var(--colorTitle);
  font-size: 14px;
  line-height: 20.8px;
}

.pBanner {
  color: var(--colorParagraphe);
  line-height: 28.8px;
  font-size: 19px;
}

/* WRAPPER */
.wrapper {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.wrapperMain {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapperMain .left {
  width: 100%;
  order: 2;
}
/* MAIN */
main {
  margin-top: 15%;
  background-color: var(--backgrdGrey);
  padding-bottom: 10px;
}

/* CARD */
.boxCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
  background-color: var(--backgrdWhite);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  flex-direction: column;
}

.card:hover {
  box-shadow: 1px 1px 10px #808484;
  -moz-box-shadow: 1px 1px 10px #808484;
  -webkit-box-shadow: 1px 1px 10px #808484;
}

.card .left {
  width: 60%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  flex: 1;
}

.right img {
  width: 100%;
  height: 125px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.footerCardBottom {
  width: 50%;
  display: flex;
}
.footerCardBottom .fa-star {
  color: #00ccbc;
}
.footerCard p {
  width: 216px;
  height: 40px;
  overflow: hidden;
}

.footerCardBottom p {
  width: 50%;
  margin: 0;
}

/* ASIDE */
aside {
  width: 100%;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside article {
  background-color: white;
  width: 100%;
  min-height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

aside article h3 {
  background-color: var(--backgrdGrey);
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--vertDeliveroo);
  padding: 5px;
  gap: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.boxTitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px 10px 5px;
}
.shoppingCardUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: black;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(178 255 249) 100%
  );
  /* border: 2px solid crimson; */
  border-radius: 10px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7),
    0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7),
    0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7),
    0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
}
.shoppingCardUp:hover {
  box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.7),
    inset 0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.7),
    inset 0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.7),
    inset 0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
}

.boxTitles {
  & span:nth-child(2) {
    width: calc(100% / 2);
  }
  & span:nth-child(3) {
    width: calc(100% / 5.5);
  }
}
.shoppingContainer .line {
  margin-top: 5px;
}
.shoppingCardUp .elShoppingCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px 5px 0px 5px;
}
.elShoppingCard .productName {
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.elShoppingCard span:first-child {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.elShoppingCard .price {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.boxQuantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 5px;
}
.boxQuantity button {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #00bdad;
  border: 2px solid #00bdad;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7),
    0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7),
    0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7),
    0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
}
.boxQuantity button:active {
  box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.7),
    inset 0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.7),
    inset 0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.7),
    inset 0.25px 0.25px 1px rgba(0, 0, 0, 0.7);
}
.boxQuantity p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.boxQuantity button p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 20px;
}
.show {
  display: flex;
}
.red {
  color: red;
}
.btnHide {
  width: 25px;
  height: 20px;
}
.hide {
  display: none;
}
/* ASIDE */
.panier h3 {
  background-color: var(--vertDeliveroo);
  color: #e9ebeb;
  text-shadow: 0px 0px 2.5px var(--black);
  width: 100%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.shoppingCardDown {
  /* border: 2px solid red; */
  width: 100%;
}
.boxSubTotalAndTotal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxSubTotalAndTotal .boxSubTotal,
.boxSubTotalAndTotal .boxDeliveryCost,
.boxSubTotalAndTotal .boxTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  width: 98%;
  height: 2px;
  background-color: rgb(191, 191, 191);
  border-radius: 15px;
  box-shadow: inset 0px 0px 1px #fefcfc, inset 0.25px 0.25px 0.25px #848484,
    0px 0px 1px #848484, 0.25px 0.25px 0.25px #848484;
}
.shoppingCardDown .line {
  margin-top: 0px;
}
.boxSubTotalAndTotal .boxSubTotal {
  padding-bottom: 5px 0 5px 0;
}
.boxSubTotalAndTotal .boxDeliveryCost {
  padding: 5px 0 10px 0;
}
.boxSubTotalAndTotal .boxTotal {
  padding: 20px 0 10px 0;
}
footer {
  width: 100%;
  min-height: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  box-shadow: 0px 0px 1px #000, 0.25px 0.25px 1px #000, 0.5px 0.5px 1px #000;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* BREAKPOINTS */
@media all and (max-width: 768px) {
  main {
    margin-top: 0;
  }
  aside {
    margin-top: 10px;
  }
}
@media all and (min-width: 576px) {
  header .wrapper,
  main section.wrapperMain {
    max-width: 500px;
  }
}

@media all and (min-width: 768px) {
  header .wrapper .bottom {
    margin-top: 30px;
    flex-direction: row !important;
  }
  header .wrapper .bottom .left {
    padding: 25px 20px 25px 0;
  }
  .imgBanner {
    width: 40%;
  }
  /* WRAPPER */
  main section.wrapperMain {
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: flex-start;
  }
  header .wrapper,
  main section.wrapperMain {
    max-width: 700px;
  }
  /* MAIN */
  main section.wrapperMain {
    display: flex;
    gap: 10px;
  }
  main section.wrapperMain .left {
    order: 1 !important;
    width: 100%;
  }
  main section.wrapperMain aside {
    order: 2 !important;
  }
  .boxCards .card {
    width: 402px;
    flex-direction: row !important;
  }
  .imgBanner {
    width: 351px;
    height: 197px;
  }
  /* CARD */
  .card {
    height: 160px;
  }
  .card .right img {
    width: 132px;
    height: 130px;
  }
  /* ASIDE */
  aside {
    flex-direction: column;
  }
  aside .boxTitleCategory {
    height: 60px;
  }
}

@media all and (min-width: 992px) {
  header .wrapper,
  main section.wrapperMain {
    max-width: 900px;
  }
}

@media all and (min-width: 1200px) {
  header {
    height: 60px;
  }
  header .wrapper,
  main section.wrapperMain {
    max-width: 1100px;
  }
  /* ASIDE */
  aside {
    width: 400px;
  }
  aside article {
    width: 352px;
  }
}

@media all and (min-width: 1400px) {
  header .wrapper,
  main section.wrapperMain {
    max-width: 1200px;
  }
}
