body {
  font-family: 'IBM Plex Sans', 'sans-serif';
}

h1,
h2,
h3 {
  color: var(--colorTitle);
}

h1 {
  font-size: 2rem;
  line-height: 26.7px;
}

h2 {
  font-size: 24px;
  line-height: 20px;
}

h3 {
  font-size: 18px;
  line-height: 15.6px;
}

p {
  font-size: 19px;
  line-height: 28.8px;
}

.card p {
  font-size: 14px;
  line-height: 20.8px;
  color: #808484;
}

/* HEADER */
.header {
  padding: 9px 0 9px 0;
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #E9EBEB;
}

.imgHeader {
  height: 41px;
}

header .wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header .wrapper .bottom {
  display: flex;
  margin-top: 30px;
}

header .wrapper .bottom .left {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 25px 0;
  gap: 50px;
}

header .wrapper .bottom img {
  width: 40%;
}

.imgBanner {
  width: 351px;
  height: 197px;
  object-fit: cover;
  border-radius: 10px;
}

/* Title et Para */

.titleOne {
  color: var(--colorTitle);
  font-size: 2rem;
  line-height: 26.7px;
  font-weight: bold;
}

.titleCateg {
  color: var(--colorTitle);
  font-size: 24px;
  line-height: 20px;
  padding: 20px 0 20px 0;
}

.titleOne,
.titleCateg {
  font-family: 'IBM Plex Sans Bold', 'sans-serif';
}

.titleCard {
  color: var(--colorTitle);
  font-size: 18px;
  line-height: 15.6px;
}

.pDesc {
  color: var(--colorTitle);
  font-size: 14px;
  line-height: 20.8px;
}

.pBanner {
  color: var(--colorParagraphe);
  line-height: 28.8px;
  font-size: 19px;
}

/* WRAPPER */
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapperMain {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* MAIN */
main {
  margin-top: 15%;
  background-color: var(--backgrdGrey);
}

/* CARD */
.boxCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 402px;
  height: 160px;
  display: flex;
  gap: 10px;
  background-color: var(--backgrdWhite);
  padding: 15px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 1px 1px 10px #808484;
  -moz-box-shadow: 1px 1px 10px #808484;
  -webkit-box-shadow: 1px 1px 10px #808484;
}

.card .left {
  width: 60%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  flex: 1;
}

.right img {
  width: 132px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}

.footerCardBottom {
  width: 50%;
  display: flex;
}

.footerCard p {
  width: 216px;
  height: 40px;
  overflow: hidden;
}

.footerCardBottom p {
  width: 50%;
  margin: 0;
}

/* ASIDE */
aside {
  margin-top: 5%;
  width: 400px;
}

aside article {
  background-color: white;
  width: 352px;
  min-height: 188px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

aside article h3 {
  background-color: var(--backgrdGrey);
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}